In [1]:
square=[]
for i in range(1,100):
    square.append(i**4)

In [2]:
print(square)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321, 160000, 194481, 234256, 279841, 331776, 390625, 456976, 531441, 614656, 707281, 810000, 923521, 1048576, 1185921, 1336336, 1500625, 1679616, 1874161, 2085136, 2313441, 2560000, 2825761, 3111696, 3418801, 3748096, 4100625, 4477456, 4879681, 5308416, 5764801, 6250000, 6765201, 7311616, 7890481, 8503056, 9150625, 9834496, 10556001, 11316496, 12117361, 12960000, 13845841, 14776336, 15752961, 16777216, 17850625, 18974736, 20151121, 21381376, 22667121, 24010000, 25411681, 26873856, 28398241, 29986576, 31640625, 33362176, 35153041, 37015056, 38950081, 40960000, 43046721, 45212176, 47458321, 49787136, 52200625, 54700816, 57289761, 59969536, 62742241, 65610000, 68574961, 71639296, 74805201, 78074896, 81450625, 84934656, 88529281, 92236816, 96059601]

In [3]:
multi=[]
for i in range(1,10):
    multi.append(i*10)

In [4]:
print(multi)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [5]:
squares2=[i**10 for i in range (1,10)]

In [6]:
print(squares2)

[1, 1024, 59049, 1048576, 9765625, 60466176, 282475249, 1073741824, 3486784401]

In [7]:
movies=["abc","abv","abd","scd"]

In [8]:
movies1=[title for title in movies if title.startswith("a")]

In [9]:
print(movies1)

['abc', 'abv', 'abd']

In [10]:
a=[1,2,3,4,5]
b=[]

In [1]:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [2]:
B=[i<5 for i in a]

In [8]:
print(B)

[True, True, True, True, False, False, False, False, False, False, False]

In [21]:

for i in [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]:
    if i<5:
        print(i)

1
1
2
3

In [22]:
a=[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i<5:
        print(i)

1
1
2
3

In [1]:
a=[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b=[i for i in a if i<5]

In [2]:
print(b)

[1, 1, 2, 3]

In [6]:
a=[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b=[i for i in a if i<5]

In [29]:
print(b)

[1, 1, 2, 3]

In [8]:
x=[]
x.append(3)

In [9]:
print(x)

[3]

In [25]:
a=[5,"avc","adc","rds", [1,2,3]]
for i in a:
 print(i)

5
avc
adc
rds
[1, 2, 3]

In [18]:
my_list = [1, 3, "Michele", [5, 6, 7]]
for element in my_list:
  print(element)

1
3
Michele
[5, 6, 7]

In [10]:
grade=input("enter your number:")
if grade >= "90" :
    print("A")
elif grade >="80":
    print("B")
elif grade >="70":
    print("C")
else:
    print("fail")

enter your number:50
fail

In [36]:
for i in [12, 16, 17, 24, 29, 30]:
    if i%2==1:
         
     print(i)

17
29

In [14]:

b1=[i for i in range(1,100) if i%2==0]
print(b1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [72]:
a1=[i*7 for i in range(1,11)]

In [73]:
print(a1)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [76]:
c1=input("enter the number:")
for i in c1:
 if i%2==1:
    print(i)

enter the number:12

TypeError: not all arguments converted during string formatting

In [1]:
num = input("Enter a number: ")
n= num % 2
if n == 0:
    print("You picked an odd number.")
else:
    print("You picked an even number.")

Enter a number: 12

TypeError: not all arguments converted during string formatting

In [15]:
ab=[1,2,3,4,55,77,88,99]
print(ab.index(88))

6

In [16]:
print(ab.index(1))

0

In [11]:
print(0)

0

In [12]:
print(55)

55

In [17]:
print(4)

4

In [20]:
gf=['ball',"cat","dog","doll"]

In [21]:
print(gf.index("cat"))

1

In [22]:
print(gf.index("dog"))

2

In [23]:
print(gf.index("doll"))

3

In [27]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
list1.index(4,1,8)
#doubt

3

In [33]:
list1 = [1, 2, 3, [9, 8, 7], ('cat', 'bat')]
print(list1.index([9, 8, 7]))

3

In [37]:
print(list1.index(('cat','bat')))

4

In [39]:
print(list1.index(('cat','bat')))

4

In [40]:
 letters = ['c', 'h', 'e', 'c', 'k' , 'i', 'o']
letters[2]

'e'

In [42]:
letters[6]

'o'

In [43]:
letters[6:]

['o']

In [45]:
letters[1:]

['h', 'e', 'c', 'k', 'i', 'o']

In [48]:
letters[1:2]

['h']

In [49]:
letters[1:6]

['h', 'e', 'c', 'k', 'i']

In [2]:
import pandas as pd
import numpy as np

In [3]:
train=pd.read_csv("train_1.csv")

In [23]:
train.head(10)

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0
5,5566_zh.wikipedia.org_all-access_spider,12.0,7.0,4.0,5.0,20.0,8.0,5.0,17.0,24.0,...,16.0,27.0,8.0,17.0,32.0,19.0,23.0,17.0,17.0,50.0
6,91Days_zh.wikipedia.org_all-access_spider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,7.0,33.0,8.0,11.0,4.0,15.0,6.0,8.0,6.0
7,A'N'D_zh.wikipedia.org_all-access_spider,118.0,26.0,30.0,24.0,29.0,127.0,53.0,37.0,20.0,...,64.0,35.0,35.0,28.0,20.0,23.0,32.0,39.0,32.0,17.0
8,AKB48_zh.wikipedia.org_all-access_spider,5.0,23.0,14.0,12.0,9.0,9.0,35.0,15.0,14.0,...,34.0,105.0,72.0,36.0,33.0,30.0,36.0,38.0,31.0,97.0
9,ASCII_zh.wikipedia.org_all-access_spider,6.0,3.0,5.0,12.0,6.0,5.0,4.0,13.0,9.0,...,25.0,17.0,22.0,29.0,30.0,29.0,35.0,44.0,26.0,41.0

In [2]:
train1=pd.read_csv("titanic train.csv")

In [4]:
train1.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [99]:
train2=pd.read_csv("nba.csv")

In [33]:
train2.head(20)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0

In [103]:
index=train2.index

In [104]:
index

RangeIndex(start=0, stop=458, step=1)

In [36]:
columns=train2.columns

In [37]:
columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [40]:
values=train2.values

In [41]:
values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [42]:
type(index)

pandas.core.indexes.range.RangeIndex

In [43]:
type(values)

numpy.ndarray

In [44]:
type(columns)

pandas.core.indexes.base.Index

In [54]:
train2.head(20)["Name"]

0               Avery Bradley
1                 Jae Crowder
2                John Holland
3                 R.J. Hunter
4               Jonas Jerebko
5                Amir Johnson
6               Jordan Mickey
7                Kelly Olynyk
8                Terry Rozier
9                Marcus Smart
10            Jared Sullinger
11              Isaiah Thomas
12                Evan Turner
13                James Young
14               Tyler Zeller
15           Bojan Bogdanovic
16               Markel Brown
17            Wayne Ellington
18    Rondae Hollis-Jefferson
19               Jarrett Jack
Name: Name, dtype: object

In [56]:
train2.head(10)[['Name','Age','College']]

            Name   Age            College
0  Avery Bradley  25.0              Texas
1    Jae Crowder  25.0          Marquette
2   John Holland  27.0  Boston University
3    R.J. Hunter  22.0      Georgia State
4  Jonas Jerebko  29.0                NaN
5   Amir Johnson  29.0                NaN
6  Jordan Mickey  21.0                LSU
7   Kelly Olynyk  25.0            Gonzaga
8   Terry Rozier  22.0         Louisville
9   Marcus Smart  22.0     Oklahoma State

In [74]:
train2.loc[[1,2,3]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [89]:
train2.loc[[0,3,4]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [92]:
train2.loc[11:22]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0

In [94]:
train2.loc[450:]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
train2.loc[[3]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [106]:
train2.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [112]:
train2.iloc[[4]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [115]:
train2.iloc[[10,20,30]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0

In [117]:
train2.iloc[[2,6],[2,6]]

   Number  Weight
2    30.0   205.0
6    55.0   235.0

In [124]:
train2.iloc[[2,],[2,6]]

   Number  Weight
2    30.0   205.0

In [125]:
train2.iloc[2:6,2:6]

   Number Position   Age Height
2    30.0       SG  27.0    6-5
3    28.0       SG  22.0    6-5
4     8.0       PF  29.0   6-10
5    90.0       PF  29.0    6-9

In [149]:
age=train2['Age']

In [150]:
age.head(10)

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
5    29.0
6    21.0
7    25.0
8    22.0
9    22.0
Name: Age, dtype: float64

In [151]:
age.mode

<bound method Series.mode of 0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64>

In [136]:
age.median

<bound method Series.median of 0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64>

In [152]:
age.mean

<bound method Series.mean of 0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64>

In [153]:
age2=train2.loc[25]

In [154]:
age2

Name          Willie Reed
Team        Brooklyn Nets
Number                 33
Position               PF
Age                    26
Height               6-10
Weight                220
College       Saint Louis
Salary             947276
Name: 25, dtype: object

In [156]:
age.head(2)

0    25.0
1    25.0
Name: Age, dtype: float64

In [157]:
d = {'a':1, 'b':2, 't':20, 'z':26, 'A':27}

In [158]:
d['a']

1

In [160]:
d['z']

26